<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.engineer.toolbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.github.engineer.toolbox.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.engineer.toolbox.EnthalpyMenuActivity"
            android:label="@string/enthalpy_calculator"/>
        <activity
            android:name="com.github.engineer.toolbox.AbsoluteHumidityActivity"
            android:label="@string/absolute_humidity_calculator"/>
        <activity
            android:name="com.github.engineer.toolbox.HeatOfProcessActivity"
            android:label="@string/heat_of_process_calculator"/>
        <activity
            android:name="com.github.engineer.toolbox.TemperatureConverterMenuActivity"
            android:label="@string/temperature_menu"/>
        <activity
            android:name="com.github.engineer.toolbox.BernoulieEquationMenuActivity"
            android:label="@string/bernoullis_equation_menu"/>
        <activity
            android:name="com.github.engineer.toolbox.PerfectFluidsBernoullisEquation"
            android:label="@string/perfect_fluids_bernoullis_equation_menu"/>
        <activity
            android:name="com.github.engineer.toolbox.ReynoldsNumberActivity"
            android:label="@string/reynolds_number"/>
        <activity
            android:name="com.github.engineer.toolbox.ActualFluidsBernoullisEquationMenuActivity"
            android:label="@string/actual_fluids"/>
        <activity
            android:name="com.github.engineer.toolbox.DarcyWeisbachEquationActivity"
            android:label="@string/darcy_weisbach_equation"/>
        <activity
            android:name="com.github.engineer.toolbox.LocalFlowResistanceActivity"
            android:label="@string/local_flow_resistance"/>
        <activity
            android:name="com.github.engineer.toolbox.DarcyFrictionFactorActivity"
            android:label="@string/darcy_friction_factor"/>
        <activity
            android:name="com.github.engineer.toolbox.HeatFlowResistanceCalculatorActivity"
            android:label="@string/heat_flow_resistance_calculator"
            android:parentActivityName="com.github.engineer.toolbox.MainActivity"
            tools:targetApi="jelly_bean"/>

        <activity
            android:name="com.github.engineer.toolbox.InfoMenuActivity"
            android:label="@string/info_button"/>
        <activity
            android:name="com.github.engineer.toolbox.AddHeatFlowResistanceMenuActivity"
            android:label="@string/add_heat_flow_resistance"/>
        <activity
            android:name="com.github.engineer.toolbox.EngineerTheoryActivity"
            android:label="Engineer Theory"/>

        <provider
            android:name=".data.engineeringtheorydata.EngineeringTheoryProvider"
            android:authorities="com.github.engineer.toolbox"
            android:exported="false"/>
        <activity
            android:name="com.github.engineer.toolbox.DetailSubjectActivity"
            android:label="Details"/>
    </application>

</manifest>